*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes headerStartLogo {
  from {
    transform: translateX(-1000%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes headerStartTaste {
  from {
    transform: translateY(-5000px);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes headerStartButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "ABeeZee", sans-serif;
  background-color: #030406;
  color: #FFF;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.section-shadow {
  width: 200%;
  height: 8em;
  background-color: #030406;
  filter: blur(15px);
  position: absolute;
  bottom: -5%;
}

.section-title {
  text-align: center;
  padding: 2em;
  font-size: 5rem;
  font-family: "Kaushan Script", cursive;
  font-weight: lighter;
}

section {
  overflow: hidden;
  padding: 0 2em;
}

.nav {
  position: fixed;
  top: 0;
  padding: 0 4em;
  height: 10em;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
}
.nav .wrapper {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-size: 4rem;
  font-family: "Kaushan Script", cursive;
  transition: letter-spacing 0.3s;
}
.nav__logo:hover {
  letter-spacing: 2px;
}
.nav__logo a {
  color: #F9F9F9;
}
.nav__logo span {
  font-size: 2.5rem;
  color: #FE9D00;
}
.nav__items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav__item {
  color: #FFF;
  padding: 1em;
  font-size: 2.5rem;
  transition: color 0.3s;
}
.nav__item:hover {
  color: #FFD700;
}
.nav__burger {
  display: none;
  position: relative;
  width: 5em;
  height: 5em;
  background-color: transparent;
}
.nav__burger-bars, .nav__burger-bars::after, .nav__burger-bars::before {
  background-color: #FFF;
  width: 100%;
}
.nav__burger-bars {
  position: relative;
  height: 15%;
}
.nav__burger-bars::after, .nav__burger-bars::before {
  position: absolute;
  content: "";
  height: 100%;
}
.nav__burger-bars::before {
  top: -200%;
  left: 0;
}
.nav__burger-bars::after {
  bottom: -200%;
  right: 0;
}

.header {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.hero-img::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-text {
  font-family: "Kaushan Script";
  z-index: 1;
}
.hero-text p {
  transform: translateX(-1000%);
  animation: headerStartLogo 1s forwards;
  font-size: 9em;
  color: #F9F9F9;
}
.hero-text span {
  font-size: 0.6em;
  color: #FE9D00;
}

.taste-div {
  display: flex;
  justify-content: end;
  transform: translateY(-1000%);
  animation: headerStartTaste 1.5s forwards;
}
.taste-div p {
  position: relative;
  left: 1em;
  margin-top: -30px;
  font-size: 2.5em;
  color: #FFD700;
}

.see-div {
  font-family: "Kaushan Script";
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 170px;
  border-radius: 10px;
  transform: translateX(-50%);
  opacity: 0;
  background: linear-gradient(319deg, rgba(255, 67, 67, 0.2) 0%, rgba(255, 100, 37, 0.2) 37%, rgba(255, 183, 0, 0.2) 110%);
  cursor: pointer;
  transition: 0.5s;
  animation-delay: 2s;
  animation: headerStartButton 3s 1s forwards;
}
.see-div a {
  font-size: 30px;
  color: white;
}

.see-div:hover {
  height: 75px;
  width: 175px;
  box-shadow: 0 0 10px gold;
  opacity: 0.8;
  background-color: gold;
  background-size: cover;
}

.about-us {
  background-color: #030406;
  height: 100vh;
}
.about-us .wrapper {
  display: flex;
  justify-content: center;
}
.about-us__content-box {
  position: relative;
  width: 80%;
  height: 30em;
}
.about-us img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3em;
}
.about-us__img-first, .about-us__img-second, .about-us__main {
  position: absolute;
}
.about-us__img-first {
  left: -10%;
  top: -5em;
  width: 32%;
  height: 30em;
  z-index: 5;
}
.about-us__img-second {
  right: -6em;
  width: 50%;
  height: 10em;
  z-index: 5;
}
.about-us__main {
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 26em;
  border-radius: 3em;
  background-color: #1F0101;
}
.about-us__main-title {
  position: absolute;
  top: 1.5em;
  left: 22%;
  font-size: 3rem;
}
.about-us__main-text {
  position: absolute;
  bottom: 2.5em;
  right: 5%;
  width: 80%;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 2.2rem;
}

.provisions-h2 {
  margin-bottom: 20px;
  font-family: "Kaushan Script";
  font-size: 5rem;
  text-align: center;
}

.section1 {
  font-family: "Kaushan Script";
  display: flex;
  flex-direction: row;
  height: 1200px;
}
.section1 .provisions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: gold;
  border: 3px solid black;
  background-position: center;
  background-size: 2000px;
  transition: 1s;
}
.section1 .provisions p {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  text-align: center;
  box-shadow: 0 0 10px black;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.provisions:hover > p {
  height: 100px;
  line-height: 100px;
}

.provisions:hover {
  background-size: 2200px;
}

.snacks {
  background-image: url("../img/przekaski.jpg");
}

.breakfasts {
  background-image: url("../img/pancakes.jpg");
}

.dinners {
  background-image: url("../img/curry.jpg");
}

.supper {
  background-image: url("../img/kolacja.jpg");
}

.deserts {
  background-image: url("../img/cupcakes.jpg");
}

.oferts-title {
  font-family: "Kaushan Script";
  margin-top: 80px;
  font-size: 5rem;
  text-align: center;
}

.ofert-click {
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
  opacity: 0;
}

.oferts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
  width: 100%;
  flex-wrap: wrap;
}

.ofblock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 450px;
  width: 320px;
  text-align: center;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  z-index: -2;
}
.ofblock h3 {
  position: absolute;
  top: 50px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
  transition: 0.7s;
}
.ofblock p {
  position: absolute;
  left: 50%;
  bottom: 50px;
  font-size: 25px;
  text-shadow: 0 0 10px white;
  transform: translateX(-50%);
  transition: 0.7s;
}
.ofblock ul {
  list-style: none;
  padding: 0;
}
.ofblock .oferts-items {
  margin-top: 25px;
  font-size: 17px;
  opacity: 0;
  transition: 0.7s;
}
.ofblock .benefits {
  opacity: 0;
}

.ofblock::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hover1, .hover2, .hover3 {
  transition: 0.7s;
}

.hover1:hover, .hover2:hover, .hover3:hover {
  transform: rotateY(180deg);
}
.hover1:hover .oferts-items, .hover2:hover .oferts-items, .hover3:hover .oferts-items {
  opacity: 1;
}
.hover1:hover .ofblock::after, .hover2:hover .ofblock::after, .hover3:hover .ofblock::after {
  background-color: rgba(0, 0, 0, 0.9);
}
.hover1:hover .benefits, .hover2:hover .benefits, .hover3:hover .benefits {
  margin-top: 0;
  transform: rotateY(180deg) translateX(50%);
  opacity: 1;
}
.hover1:hover ul, .hover2:hover ul, .hover3:hover ul {
  align-self: center;
  transform: rotateY(180deg);
}
.hover1:hover h3, .hover2:hover h3, .hover3:hover h3 {
  opacity: 0;
}
.hover1:hover p, .hover2:hover p, .hover3:hover p {
  transform: rotateY(180deg) translateX(50%);
}

.plan1 {
  background-image: url("../img/wineFirst.jpg");
  transition: 0.3s;
}

.plan2 {
  background-image: url("../img/wineChef.jpg");
  transition: 0.3;
}

.plan3 {
  background-image: url("../img/wineLast.jpg");
  transition: 0.3s;
}

@media (width <= 768px) {
  .nav {
    padding: 0 2em;
    background-color: royalblue;
  }
  .nav__items {
    display: none;
  }
  .about-us__main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us__main-title {
    position: relative;
  }
  .about-us__main-text {
    position: relative;
    bottom: 0;
    right: 0;
  }
  .about-us__img-first, .about-us__img-second {
    display: none;
  }
  .oferts {
    display: flex;
    flex-direction: column;
    height: 1500px;
  }
  .oferts .oferts-title {
    margin-top: 50px;
  }
  .ofert-click {
    opacity: 1;
  }
}
@media (width <= 992px) {
  .nav {
    background-color: transparent;
  }
  .nav__items {
    display: none;
  }
  .nav__burger {
    display: block;
  }
  .section-title {
    font-size: 4rem;
  }
}
@media (width <= 1100px) {
  .about-us__main-text {
    bottom: 3em;
    font-size: 1.8rem;
  }
}
@media (width <= 1200px) {
  .about-us__main-title {
    font-size: 2.7rem;
    left: 20%;
  }
}
@media (max-width: 768px) {
  .hero-text p {
    font-size: 50px;
  }
  .hero-text span {
    font-size: 40px;
  }
  .taste-div p {
    margin-top: -20px;
    font-size: 20px;
  }
  .see-div {
    position: absolute;
    left: 50%;
    height: 50px;
    width: 150px;
    transform: translate(-50%, -50%);
  }
  .see-div a {
    font-size: 25px;
    color: rgba(255, 253, 253, 0.897);
  }
  .section1 {
    display: block;
    height: 1000px;
  }
  .section1 .provisions {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  .section1 .provisions p {
    height: 45px;
    font-size: 30px;
    line-height: 45px;
  }
}/*# sourceMappingURL=style.css.map */