// style poniżej szerokości 1200px
@media (width <= 1200px) {
  .about-us {
    &__main {
      &-title {
        font-size: 2.7rem;
        left: 20%;
      }
    }

    .reverse{
      .about-us{
        &__main{
          &-title{
            right: 19%;
          }
        }
      }
    }
  }
}

// style poniżej szerokości 1100px
@media (width <= 1100px) {
  .about-us {
    &__main {
      &-text {
        bottom: 3em;
        font-size: 1.8rem;
      }
    }
  }
}

// style poniżej szerokości 992px
@media (width <= 992px) {
  .nav {
    background-color: transparent;

    &--mobile{
      background-color: $footer-color;
    }

    &__items {
      display: none;

      &--mobile{
        display: flex;
      }
    }

    &__burger {
      display: block;

      &--mobile{
        position: absolute;
        right: 4em;
        top: 3.5em;
      }
    }
  }

  .section-title {
    font-size: 4rem;
  }
}

// style poniżej szerokości 768px
@media (width <= 768px) {
  .hero-text {
    p {
      font-size: 50px;
    }

    span {
      font-size: 40px;
    }
  }

  .taste-div {
    p {
      margin-top: -20px;
      font-size: 20px;
    }
  }

  .see-div {
    position: absolute;
    left: 50%;
    height: 50px;
    width: 150px;
    transform: translate(-50%, -50%);
  }

  .see-div {
    a {
      font-size: 25px;
      color: rgba(255, 253, 253, 0.897);
    }
  }
  .section1 {
    display: block;
    height: 1000px;

    .provisions {
      height: 200px;
      background-size: cover;
      background-position: center;

      p {
        height: 45px;
        font-size: 30px;
        line-height: 45px;
      }

      &--full{
        height: 100%;
      }
    }
  }
  
  .nav {
    padding: 0 2em;

    &__items {
      display: none;

      &--mobile{
        display: flex;

        a{
          font-size: 4rem;
        }
      }
    }
  }

  .about-us {
    &__main {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      &.one, &.two{
        background-size: cover;
        background-position: center;
      }

      &.one{
        background-image: url('../img/kitchen.jpg');
      }

      &.two{
        background-image: url('../img/roses.jpg');
      }

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 30px;
        z-index: 1;

      }

      &-title,
      &-text {
        position: static;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
        z-index: 4;
      }
      
      &-title {
        color: $logo-second;
      }
      
      &-text {
        color: $white-color;
      }
    }

    &__img-first,
    &__img-second {
      display: none;
    }
  }

  .oferts {
    display: flex;
    flex-direction: column;
    // margin-top: 30px;
    height: 1500px;

    .oferts-title {
      margin-top: 50px;
    }
  }
  .ofert-click {
    opacity: 1;
  }
}

// style poniżej szerokości 576px
@media (width <= 576px) {
  .nav {
    &__logo {
      font-size: 3.6rem;

      &:hover {
        letter-spacing: 0;
      }
    }
  }

  .header{
    .taste-div{
      p{
        left: 0.3em;
      }
    }
  }

  .about-us {
    &__main {
      &-title {
        font-size: 2rem;
      }

      &-text {
        font-size: 1.5rem;
      }
    }
  }
}


// ===============================

// style powyżej 992px
@media(width >= 992px){
  .nav{
    &--mobile{
      display: none;
    }
  }
}