@use "./colors" as *;
@import "./reset";
@import "./animacje";


body {
  font-family: "ABeeZee", sans-serif;
  background-color: $main-color;
  color: $white-color;
  height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.nav {
  position: sticky;
  top: 0;
  padding: 0 2em;
  height: 10em;
  // box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  background-color: transparent;
  z-index: 1000;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 4rem;
    font-family: "Kaushan Script", cursive;
    transition: letter-spacing .3s;

    &:hover{
      letter-spacing: 2px;
    }

    a {
      color: $logo-white;
    }
    span {
      font-size: 2.5rem;
      color: $logo-second;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__item {
    color: $white-color;
    padding: 1em;
    font-size: 2.5rem;
    transition: color 0.3s;

    &:hover {
      color: $header-subtitle-color;
    }
  }

  &__burger {
    display: none;
    position: relative;
    width: 5em;
    height: 5em;
    background-color: transparent;

    &-bars, &-bars::after, &-bars::before{
      background-color: $white-color;
      width: 100%;
    }

    &-bars {
      position: relative;
      height: 15%;


      &::after,
      &::before {
        position: absolute;
        content: "";
        height: 100%;

      }

      &::before {
        top: -200%;
        left: 0;
      }

      &::after {
        bottom: -200%;
        right: 0;
      }
    }
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.hero-img::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-text {
  font-family: 'Kaushan Script';
  z-index: 1;
  p {
    font-size: 90px;
    color: $logo-white;
  }

  span {
    font-size: 60px;
    color: $logo-second;
  }
}

.taste-div {
  display: flex;
  justify-content: end;
}

.taste-div {
  p {
    margin-top: -30px;
    font-size: 25px;
    color: $header-subtitle-color;
  }
}

.see-div {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 170px;
  transform: translateX(-50%);
  background: linear-gradient(319deg, rgba(255, 67, 67, 0.2) 0%, rgba(255, 100, 37, 0.2) 37%, rgba(255, 183, 0, 0.2) 110%);
  // opacity: 0.5;
  a{
    font-size: 30px;
    color: white;
  }
}

@media (width <= 400px){
  .nav{
    &__logo{
      font-size: 3.5rem;

      &:hover{
        letter-spacing: 1px;
      }
    }
  }
}

@media (width <= 992px){
  .nav{
    background-color: transparent;
    &__items {
      display: none;
    }

    &__burger{
      display: block;
    }
  }
}



@import './media';



