@use "./colors" as *;
@import "./reset";
@import "./animacje";

body {
  font-family: "ABeeZee", sans-serif;
  background-color: $main-color;
  color: $white-color;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.section-shadow {
  width: 200%;
  height: 8em;
  background-color: $main-color;
  filter: blur(15px);
  position: absolute;
  bottom: -5%;
}

.section-title {
  text-align: center;
  padding: 2em;
  font-size: 5rem;
  font-family: "Kaushan Script", cursive;
  font-weight: lighter;
}

section {
  overflow: hidden;
  padding: 0 2em;
}

.nav {
  position: fixed;
  top: 0;
  padding: 0 4em;
  height: 10em;
  width: 100%;
  // box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  background-color: transparent;
  z-index: 1000;

  .wrapper {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 4rem;
    font-family: "Kaushan Script", cursive;
    transition: letter-spacing 0.3s;

    &:hover {
      letter-spacing: 2px;
    }

    a {
      color: $logo-white;
    }
    span {
      font-size: 2.5rem;
      color: $logo-second;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__item {
    color: $white-color;
    padding: 1em;
    font-size: 2.5rem;
    transition: color 0.3s;

    &:hover {
      color: $header-subtitle-color;
    }
  }

  &__burger {
    display: none;
    position: relative;
    width: 5em;
    height: 5em;
    background-color: transparent;

    &-bars,
    &-bars::after,
    &-bars::before {
      background-color: $white-color;
      width: 100%;
    }

    &-bars {
      position: relative;
      height: 15%;

      &::after,
      &::before {
        position: absolute;
        content: "";
        height: 100%;
      }

      &::before {
        top: -200%;
        left: 0;
      }

      &::after {
        bottom: -200%;
        right: 0;
      }
    }
  }
}

.header {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.hero-img::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-text {
  font-family: "Kaushan Script";
  z-index: 1;
  p {
    font-size: 9em;
    color: $logo-white;
  }

  span {
    font-size: 0.6em;
    color: $logo-second;
  }
}

.taste-div {
  display: flex;
  justify-content: end;
  p {
    position: relative;
    left: 1em;
    margin-top: -30px;
    font-size: 2.5em;
    color: $header-subtitle-color;
  }
}

.see-div {
  font-family: "Kaushan Script";
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 170px;
  border-radius: 10px;
  transform: translateX(-50%);

  background: linear-gradient(
    319deg,
    rgba(255, 67, 67, 0.2) 0%,
    rgba(255, 100, 37, 0.2) 37%,
    rgba(255, 183, 0, 0.2) 110%
  );

  cursor: pointer;
  transition: 0.5s;

  a {
    font-size: 30px;
    color: white;
  }
}

.see-div:hover {
  height: 75px;
  width: 175px;
  box-shadow: 0 0 10px;
  opacity: 0.8;
}

// =============================
//          About us
// =============================
.about-us {
  background-color: $main-color;
  height: 100vh;

  .wrapper{
    display: flex;
    justify-content: center;
  }

  &__content-box {
    position: relative;
    width: 80%;
    height: 30em;
    // padding-bottom: 4em;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3em;
  }

  &__img-first, &__img-second, &__main{
    position: absolute;
  }

  &__img-first {
    left: -10%;
    top: -5em;
    width: 32%;
    height: 30em;
    z-index: 5;
  }

  &__img-second{
    right: -6em;
    width: 50%;
    height: 10em;
    z-index: 5;
  }

  &__main{
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 26em;
    border-radius: 3em;
    background-color: $contrast-color;

    &-title{
      position: absolute;
      top: 1.5em;
      left: 22%;
      font-size: 3rem;
    }

    &-text{
      position: absolute;
      bottom: 2.5em;
      right: 5%;
      width: 80%;
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      font-size: 2.2rem;
    }
  }

}

@import "./media";
